<div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav">
                    <li class="sidenav-search hidden-md hidden-lg">
                        <form class="sidenav-form" action="http://demo.naksoid.com/">
                            <div class="form-group form-group-sm">
                                <div class="input-with-icon">
                                    <input class="form-control" type="text" placeholder="Search…">
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="sidenav-heading">模块与导航</li>
                    <li class="sidenav-item">
                        <!--2 routerLinkActive 可以如下传递多个css值-->
                        <a routerLink="/dashboard" [routerLinkActive]="['active','somevalue']">
                            <span class="badge badge-success">26</span>
                            <span class="sidenav-icon icon icon-home"></span>
                            <span class="sidenav-label">dashboard</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav active">
                        <!--1 routerLinkActive 传递单个值-->
                        <a routerLink="/heroes" routerLinkActive="active">
                            <span class="sidenav-icon icon icon-th"></span>
                            <span class="sidenav-label">特性模块</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav active">
                        <a routerLink="/relativeRoute" routerLinkActive="active">
                            <span class="sidenav-icon icon icon-th"></span>
                            <span class="sidenav-label">相对路由</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav active">
                        <a routerLink="/guardRoute" routerLinkActive="active">
                            <span class="sidenav-icon icon icon-th"></span>
                            <span class="sidenav-label">路由守卫</span>
                        </a>
                    </li>

                    <li class="sidenav-item">
                        <a routerLink="/404" routerLinkActive="active" >
                            <span class="sidenav-icon icon icon-columns"></span>
                            <span class="sidenav-label">404</span>
                        </a>
                    </li>
                    <li class="sidenav-heading">Components</li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-briefcase"></span>
                            <span class="sidenav-label">UI Elements</span>
                        </a>

                    </li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-edit"></span>
                            <span class="sidenav-label">Forms</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="badge badge-danger">New</span>
                            <span class="sidenav-icon icon icon-list"></span>
                            <span class="sidenav-label">Tables</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="badge badge-danger">New</span>
                            <span class="sidenav-icon icon icon-pie-chart"></span>
                            <span class="sidenav-label">Charts</span>
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>