<div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav">
                    <li class="sidenav-search hidden-md hidden-lg">
                        <form class="sidenav-form" action="http://demo.naksoid.com/">
                            <div class="form-group form-group-sm">
                                <div class="input-with-icon">
                                    <input class="form-control" type="text" placeholder="Search…">
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="sidenav-heading">Navigation</li>
                    <li class="sidenav-item has-subnav active">
                        <a routerLink="/herolist" routerLinkActive="active">
                            <span class="sidenav-icon icon icon-home"></span>
                            <span class="sidenav-label">herolist</span>
                        </a>

                    </li>
                    <li class="sidenav-item">
                        <a routerLink="/dashboard" routerLinkActive="active">
                            <span class="badge badge-success">26</span>
                            <span class="sidenav-icon icon icon-th"></span>
                            <span class="sidenav-label">dashboard</span>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="page-layouts.html" >
                            <span class="sidenav-icon icon icon-columns"></span>
                            <span class="sidenav-label">Page layouts</span>
                        </a>
                    </li>
                    <li class="sidenav-heading">Components</li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-briefcase"></span>
                            <span class="sidenav-label">UI Elements</span>
                        </a>

                    </li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="sidenav-icon icon icon-edit"></span>
                            <span class="sidenav-label">Forms</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="badge badge-danger">New</span>
                            <span class="sidenav-icon icon icon-list"></span>
                            <span class="sidenav-label">Tables</span>
                        </a>
                    </li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true">
                            <span class="badge badge-danger">New</span>
                            <span class="sidenav-icon icon icon-pie-chart"></span>
                            <span class="sidenav-label">Charts</span>
                        </a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>