<div class="login">
    <div class="login-body">
        <a class="login-brand" href="index.html" >
            <img class="img-responsive" src="../../assets/img/logo.svg"  alt="Elephant">
        </a>
        <div class="login-form">
            <form data-toggle="validator">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email" name="email" spellcheck="false"
                           autocomplete="off" data-msg-required="Please enter your email address." required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" name="password"
                           minlength="6" data-msg-minlength="Password must be 6 characters or more."
                           data-msg-required="Please enter your password." required>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-control-primary custom-checkbox">
                        <input class="custom-control-input" type="checkbox" checked="checked">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label">Keep me signed in</span>
                    </label>
                    <span aria-hidden="true"> · </span>
                    <a href="password-2.html" >Forgot password?</a>
                </div>
                <button class="btn btn-primary btn-block" (click)="login()">登陆</button>
            </form>
        </div>
    </div>
    <div class="login-footer">
        Don't have an account? <a href="signup-2.html" >注册</a>
    </div>
</div>