<div class="login">
    <div class="login-body">
        <a class="login-brand" href="index.html" >
            <img class="img-responsive" src="../../assets/img/logo.svg"  alt="Elephant">
        </a>
        <div class="message-error" [class.fadeout]="error" [hidden]="!error"><span>{{error}}</span></div>
        <div class="login-form">
            <form data-toggle="validator" (ngSubmit)="login()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="username">账号</label>
                    <input id="username" class="form-control" type="text" name="username" spellcheck="false"
                           autocomplete="off" [(ngModel)]="model.username" #username="ngModel" required>
                    <small [hidden]="username.valid||username.pristine" class="has-error help-block">*请输入账号</small>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input id="password" class="form-control" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                    <small [hidden]="password.valid||password.pristine" class="has-error help-block">*请输入密码</small>
                </div>
                <button class="btn btn-primary btn-block" [disabled]="loginForm.form.invalid" type="submit">登陆</button>
            </form>

        </div>
    </div>
    <div class="login-footer">
        没有账号？<a href="signup-2.html" >注册</a>
    </div>
</div>