/*! Custom styles for this template */

html {
    display: table;
    height: 100%;
    width: 100%
}

body {
    display: table-cell;
    vertical-align: middle
}

.login {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px
}

.login-body {
    padding: 30px
}

.login-brand {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 140px
}

.login-footer {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center
}

@media (min-width:768px) {
    .login-body {
        background-color: #fff;
        border: 1px solid #f2f5f8;
        border-radius: 0;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
        margin-bottom: 15px;
        margin-top: 15px
    }
}

.has-error{
    color: #e74c3c;
}

button.btn-block{
    margin-top: 20px;
}


.ng-invalid[required].ng-dirty{
    border-color: #e74c3c;
}

.message-error{
    padding: 5px;
    text-align: center;
    background-color:#e74c3c;
    color: #fff;
    margin-top: 2px;
    margin-bottom: 5px;

}

.message-error .fadeout{
    transition: opacity;
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}